.btn {
	border-radius: 0px;
}

.jumbotron {
	margin-bottom: 0px;
	background-image: url(../images/banner.JPG);
	background-size: cover;
	background-repeat:no-repeat;
	color: white;
	text-shadow: black 0.1em 0.1em 0.1em;
}